<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- TODO: THAY ĐỔI CONNECTION STRING PHÙ HỢP VỚI SQL SERVER CỦA BẠN -->
		<add name="QLTV_DB"
		connectionString="Server=LAPTOP-B80ILKK5;Database=QLTV_DB;Integrated Security=True;"
		providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>